.section {
    margin-bottom: 88px;

    .in_section {
        .title {
            margin: 48px 0;
            font-weight: 500;
            font-size: 40px;
            line-height: 110%;
            letter-spacing: -0.01em;
            font-family: 'Poppins';
            color: black;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;

            .card {
                background: #f3f5f7;
                padding: 48px;
                display: flex;
                align-items: flex-end;

                img {
                    width: 100%;
                }

                h2 {
                    font-weight: 500;
                    font-size: 34px;
                    line-height: 112%;
                    letter-spacing: -0.02em;
                    color: #121212;
                }
            }

            .card_tall {
                grid-row: 1 /3;
                background-image: url('../../assets/1_1.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 664px;
            }

            .card_2 {
                background-image: url('../../assets/2_1.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .card_3 {
                background-image: url('../../assets/3_1.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

@media (max-width: 880px) {
    .section {
        .in_section {
            .cards {
                grid-template-columns: 1fr;

                .card_tall {
                    height: auto;
                }

                .card {
                    height: 300px;
                }
            }
        }
    }
}